@tailwind base;

@tailwind components;

@import "dropdown";
@import "components/tribute";

body {
    width: 100vw;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: var(--header-background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3e474b;
        border-radius: 10px;
    }
}

.loader {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.loader:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

[v-cloak] {
    display: none;
}
@tailwind utilities;
