@tailwind base;

@tailwind components;

@import "dropdown";
@import "components/tribute";

body {
    width: 100vw;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: var(--header-background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3e474b;
        border-radius: 10px;
    }
}

.loader {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.loader:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #63b3ed;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.timeline-contents-item:not(:last-child) .timeline-contents-activity:after {
    content: "";
    display: block;
    height: calc(100% - 20px);
    position: absolute;
    top: 40px;
    width: 1px;
    background-image: linear-gradient(
            180deg,
            transparent,
            transparent 50%,
            #000000,
            #000000
        ),
        linear-gradient(90deg, #6cb2eb, #6cb2eb);
    background-size: 2px 8px;
}

[v-cloak] {
    display: none;
}

.is-floating {
    bottom: 1%;
    left: 18%;
    position: sticky;
}

.page-item {
    @apply px-4 py-2 flex items-center justify-center rounded-full;

    &:hover {
        @apply text-blue-600 bg-blue-200;
    }
}

.search-box {
    height: 40px;
    @apply bg-gray-300 rounded-full;
}

.search-box:hover .search-input {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-button {
    @apply bg-blue-600;
}

.search-button {
    float: right;
    transition: 0.4s;
    @apply bg-gray-600 rounded-full flex items-center justify-center h-10 w-10;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    @apply text-gray-800 text-sm;
}

@media screen and (max-width: 620px) {
    .search-box:hover > .search-input {
        width: 150px;
        padding: 0 6px;
    }
}

@tailwind utilities;
