.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
    max-width: 500px;
    z-index: 999999;
    @apply rounded-xl overflow-auto block h-auto;
}

.tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    @apply bg-gray-200 shadow-lg rounded;
}

.tribute-container li {
    padding: 5px 5px;
    cursor: pointer;
}
.tribute-container li.highlight {
    @apply bg-blue-500 text-white;
}
.tribute-container li span {
    font-weight: bold;
}
.tribute-container li.no-match {
    cursor: default;
}
.tribute-container .menu-highlighted {
    font-weight: bold;
}
